// Place all the styles related to the saunas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.lecture_form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  margin: 30px;
}
.name_field{
  width: 200px;
  margin-bottom: 30px;
}

/*　以下新規投稿ページの星用のCSS　*/

.post_form{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.post_form input[type='radio']{
  display: none;
}
.post_form label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 30px; /*星の大きさを変更するときはここ*/
}
.post_form label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 9px; /*星の上の説明書きの大きさを変更するときはここ*/
  color: gray;
}
.post_form label:hover,
.post_form label:hover ~ label,
.post_form input[type='radio']:checked ~ label{
  color: #ffcc00;
}


/*　以下一覧ページの星用のCSS　*/

.star-rating {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: gold; /* 星の前景色を金色に設定 */
}

.star-rating-back {
  display: inline-block;
  color: #ddd; /* 星の背景色を薄いグレーに設定 */
}

.header-list {
  display: flex;
  justify-content: right;
  padding: 0px;
  padding-right: 10px;
}

.header-list ul {
  padding-right: 20px;
}

.actions{
  margin-top: 50px;
}

.field{
  margin-top: 50px;
}

.button_to{
  text-align: right;  
}

.img-wrapper {
  width: 1475px;
  height: 800px;
  background-image: url(sauna.jpg);
  background-size: cover;
  display: flex;               /* フレックスボックスを使って中央揃え */
  justify-content: center;      /* 水平方向の中央揃え */
  align-items: center;          /* 垂直方向の中央揃え */
  height: 100vh;                /* 画像の高さを画面全体に設定 */
  text-align: center;           /* テキストを中央揃え */
  font-family: 'Zen Kurenaido', serif;
}

.larger-text {
  font-size: 2em;  /* フォントサイズを2倍にする */
}

.h1{
  text-align:center;
}

.saunas-container{
  background-color: #efc7ae;
  margin: 0px 30px;
  margin-bottom: 30px;
}

.B{
  background-color: #efdace;
}

.header-content{
  background-color: rgb(234, 158, 66);
  position: fixed;
  width: 100%; /* ヘッダーが画面幅全体に広がるように */
  z-index: 1000; /* 他の要素より前面に表示するためにz-indexを指定 */
}

.name{
  width: 300px;
}

.cost{
  width: 300px;
}

.place{
  width: 300px;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
}
 
.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
}

.saunas-container {
  display: flex;
  flex-direction: column;
  gap: 1em; /* アイテム間のスペースを追加 */
  background-color: #efdace;
}

.sauna {
  padding: 0.5em 1em;
  margin: 0; 
  color: #FFF;
  background: #f5b669;
  border-bottom: solid 6px #fa8d07;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 300px; 
  height: 250px;
  box-sizing: border-box; 
}

.post{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 calc(33.333% - 1em); /* Adjust the width and gap as needed */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}